@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mini-biblioteka</h1>
    <p>System zarządzania bilioteką oddany jest do państwa użytku. Dodaj autora i książkę, wybierając odpowiednią kartę u góry.</p>
    <img src="~/images/book.jpg" width="30%" height="30%" alt="Book Image">
</div>
