@{
    ViewData["Title"] = "Zasady";
}
<h1>@ViewData["Title"]</h1>

<p>System zarządzania biblioteką "Mini-biblioteka" stworzony został dla małych bibliotek. System jest w stu procentach darmowy. </p>
